<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>p1_walk04.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,92}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{72,92}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_walk05.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{71,93}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,2},{71,93}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_walk03.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{71,92}}</string>
        <key>offset</key>
        <string>{0.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{71,92}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_walk07.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{70,93}}</string>
        <key>offset</key>
        <string>{-1,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{70,93}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_walk06.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{70,92}}</string>
        <key>offset</key>
        <string>{-1,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,4},{70,92}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_hurt.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{69,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,92}}</string>
        <key>sourceSize</key>
        <string>{69,92}</string>
      </dict>
      <key>p1_jump.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,0},{67,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,94}}</string>
        <key>sourceSize</key>
        <string>{67,94}</string>
      </dict>
      <key>p1_walk10.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,94},{67,93}}</string>
        <key>offset</key>
        <string>{0.5,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,4},{67,93}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_walk01.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,94},{66,93}}</string>
        <key>offset</key>
        <string>{2,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{5,1},{66,93}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_walk08.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,94},{66,92}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,5},{66,92}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_walk09.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,94},{66,92}}</string>
        <key>offset</key>
        <string>{0,2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{3,5},{66,92}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_stand.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,95},{66,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,92}}</string>
        <key>sourceSize</key>
        <string>{66,92}</string>
      </dict>
      <key>p1_walk11.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,95},{66,92}}</string>
        <key>offset</key>
        <string>{1,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{4,3},{66,92}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_walk02.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,96},{66,92}}</string>
        <key>offset</key>
        <string>{3,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,1},{66,92}}</string>
        <key>sourceSize</key>
        <string>{72,97}</string>
      </dict>
      <key>p1_front.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,188},{66,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,92}}</string>
        <key>sourceSize</key>
        <string>{66,92}</string>
      </dict>
      <key>p1_duck.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,188},{69,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,71}}</string>
        <key>sourceSize</key>
        <string>{69,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>alien.png</string>
      <key>size</key>
      <string>{502,280}</string>
      <key>textureFileName</key>
      <string>alien.png</string>
    </dict>
  </dict>
</plist>